.wp-block-cb-carousel {

    &.slick-dotted.slick-slider {
        margin-bottom: 1.5rem;
    }

    .slick-next, .slick-prev {
        top: calc(100% - 0.75rem);
        width: 2.5rem;
        height: 2.5rem;
        z-index: 2;

        &::before {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2.5rem;
            height: 2.5rem;
            border: 1px solid var(--wp--preset--color--primary);
            border-radius: var(--wp--custom--border-radius--rounded);
        }
    }

    .slick-prev {
        left: 1rem;

        &::before {
            content: url(./assets/icons/carousel-arrow-left.svg);
        }
    }

    .slick-next {
        right: 1rem;

        &::before {
            content: url(./assets/icons/carousel-arrow-right.svg);
        }
    }

    .slick-dots {
        background-color: var(--wp--preset--color--background);
        bottom: -1.5rem;
        padding: 1rem 4.5rem;
        display: flex;
        justify-content: center;

        li {
            width: 100%;
            height: 2.5rem;

            button {
                max-width: 72px;
                height: 2.5rem;

                &:before {
                    content: '';
                    width: 100%;
                    height: 2px;
                    line-height: 1;
                    background-color: var(--wp--preset--color--primary);
                    top: 50%;
                }
            }
        }
    }

}